<%- include("partials/header.ejs") %>

<section hidden name="hidden-info">
  <% if (locals.postId) { %>
    <input name="post-id" value= <%=postId%>>
  <%}%>
</section>
<div class="input-group p-5" style="height: 300px; width: 100%;">
  <div class="container">
    <div class="row">
      <span class="input-group-text col-auto">Post Title: </span>
      <label class="form-control col" type="text" name="postTitle" placeholder="Great Title"  aria-label="With textarea"><%=postData.title%></label>
    </div>
    <div class="row my-2">
      <div type="text" name="postText" placeholder="Your fantastic post" class="form-control" aria-label="With textarea" style="height: 150px;">
        <p><%=postData.content%></p>
      </div>
    </div>
    <!--
    <div class="row my-2">
      <button type="submit-post" class="btn btn-success col-auto me-2">
        <% if (locals.isEdit) {%>
          Update post
        <%} else {%>
          Create Post
        <%}%>
      </button>
      <button href="/" class="btn btn-danger col-auto">Abort</button>
    </div>
    -->
  </div>
</div>


<%- include("partials/footer.ejs") %>